@{ 
    ViewData["Title"] = "Meus dados";
    Layout = "_Layout";
}


<div class="row">
    <div class="col-md text-center">
        <h1 class="text-black-50 font-italic">Não implementado.</h1>
    </div>
</div>