@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="jumbotron-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header"><h3 class="text-muted">Clientes</h3></div>
                <div class="card-footer">
                    <a href=""class="btn btn-success">Cadastrar</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header"><h3 class="text-muted">Veiculos</h3></div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success">Cadastrar</a>
                </div>
            </div>
        </div>
    </div>
</div>
