@model IEnumerable<LoKMais.Models.Entities.Veiculo>;
@{
    ViewData["Title"] = "Pagina Inicial";
}
<partial name="_Header" />

<div id="carouselExampleControls" class="carousel slide text-center" data-ride="carousel">
    <div class="carousel-inner">
        @{
            const int tamanhoPagina = 4;
            int paginas = (int)Math.Ceiling((double)Model.Count() / tamanhoPagina);
        }
        @for (int pagina = 0; pagina < paginas; pagina++)
        {
            <div class="carousel-item active">
                <div class="row justify-content-center">
                    @{
                        var produtosCarrossel = Model.Skip(pagina * tamanhoPagina).Take(tamanhoPagina);
                    }
                    @foreach (var veiculo in Model)
                    {
                        <div class="card m-1" style="width: 20rem;">
                            <img class="card-img-top" src="/Home/AbrirArquivo?veiculoId=@veiculo.Id" alt="Imagem carro" height="80%">
                            <div class="card-body text-center">
                                <h5 class="card-title">@veiculo.Modelo</h5>
                                <p class="card-text">@veiculo.Marca</p>
                                <a asp-controller="Veiculo" asp-action="Detalhes" asp-route-id="@veiculo.Id" class="btn btn-primary text-white">Detalhes</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
