<footer class="card-footer bg-dark">
    <div class="row text-center">
        <div class="col-md-4 endereco">
            <h5>Endereço</h5>
            <ul class="list-unstyled text-small">
                <li class="text-white-50"><i class="fa fa-map-pin fa-1x"></i> Avenida Brasil N°1500 </li>
                <li class="text-white-50"><i class="fa fa-envelope fa-1x"></i> lokarmais@gmail.com</li>
            </ul>

        </div>
        <div class="col-md-4 contatos">
            <h5>Contatos</h5>
            <ul class="list-unstyled text-small">
                <li class="text-white-50"><i class="fa fa-phone fa-1x"></i> (69) 3224-3232</li>
                <li class="text-white-50"><i class="fa fa-phone-square fa-1x"></i> (69) 9 9265-6598</li>
            </ul>
        </div>
        <div class="col-md-4 rede-social">
            <h5>Redes Sociais</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-white-50" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-official fa-1x"></i> Facebook</a></li>
                <li><a class="text-white-50" href="https://api.whatsapp.com/send?phone=5569992929292&text=Ol%C3%A1!%20Quero%20alugar%20um%20ve%C3%ADculo%20com%20o%20melhor%20pre%C3%A7o%20da%20cidade!" target="_blank"><i class="fa fa-whatsapp fa-1x"></i> Whatsapp</a></li>
                <li><a class="text-white-50" href="https://www.instagram.com/?hl=pt-br" target="_blank"><i class="fa fa-instagram fa-1x"></i> Instagram</a></li>
            </ul>
            <p class="text-white-50 my-5">&copy; 2020 | Lokas Mais Veículos</p>
        </div>
    </div>
</footer>