<header class="navbar bg-dark mb-1">
    <div class="row">
        <div class="col-md ml-5">
            <h1 class="font-weight-bold my-3 font-logo">Lokar <i class="fa fa-plus fa-1x"></i> Veiculos</h1>
            <p class="text-white text-white font-italic font-sub-logo">Aluge essa ideia!</p>
        </div>
        <div class="col-md zoom-img">
            <img src="~/Assets/LogoHeader.png" width="80%" height="110%" />
        </div>
    </div>
</header> 