<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/ui-lokar.css" rel="stylesheet" />
</head>
<header class="justify-content-center box-shadow">
    <div class="container">
        <di0v class="row">
            <div class="col-md-6">
                <div class="row mx-2">
                    <div class="col-md-8">
                        <a asp-controller="Home" asp-action="Index" class="font-weight-bold font-italic ui-logo font-yatra-one">Lokar <i class="fa fa-plus fa-1x ui-icon"></i>Veículos</a>
                    </div>
                </div>
                <div class="row mx-2">
                    <div class="col-md-6">
                        <h3 class="font-caveat">Alugue essa ideia!</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </di0v>
    </div>
</header>
