@model LoKMais.Models.ViewModels.VeiculoViewModel

@{
    ViewData["Title"] = "AdicionarVeiculo";
}
<div class="container my-4">
    <div class="card">
        <div class="card-header text-center bg-info">
            <h2 class="text-white font-italic">Área de Cadastro</h2>
        </div>
        <div class="card-body">
            <div class="alert alert-secondary alert-dismissible" role="alert">
                <i class="fa fa-info-circle fa-1x"></i>
                <strong>Dica: </strong>Preencha os campos obrigatórios <i class="fa fa-asterisk fa-1x text-danger"></i>.
            </div>
            <form asp-action="AdicionarVeiculo" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="ui-form-group">
                            <label asp-for="Modelo" class="ui-form-group-label"></label>
                            <input asp-for="Modelo" class="ui-form-group-input" id="modelo" />
                            <span asp-validation-for="Modelo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ui-form-group">
                            <label asp-for="Marca" class="ui-form-group-label"></label>
                            <input asp-for="Marca" class="ui-form-group-input" />
                            <span asp-validation-for="Marca" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ui-form-group">
                            <label asp-for="Categoria" class="ui-form-group-label"></label>
                            <select asp-for="Categoria" asp-items="@Html.GetEnumSelectList<ECategoria>()" class="ui-form-group-select">
                                <option selected>Selecione a categoria</option>
                            </select>
                            <span asp-validation-for="Categoria" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="ui-form-group">
                            <label asp-for="Placa" class="ui-form-group-label"></label>
                            <input asp-for="Placa" class="ui-form-group-input" id="placa" />
                            <span asp-validation-for="Placa" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ui-form-group">
                            <label asp-for="Ano" class="ui-form-group-label"></label>
                            <select asp-for="Ano" asp-items="@Html.GetEnumSelectList<EAno>()" class="ui-form-group-select">
                                <option selected>Selecione o ano</option>
                            </select>
                            <span asp-validation-for="Ano" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ui-form-group">
                            <label asp-for="TipoCombustivel" class="ui-form-group-label"></label>
                            <select asp-for="TipoCombustivel" asp-items="@Html.GetEnumSelectList<ETipoCombustivel>()" class="ui-form-group-select">
                                <option selected>Selecione o combustivel</option>
                            </select>
                            <span asp-validation-for="TipoCombustivel" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="ui-form-group">
                            <label asp-for="Cor" class="ui-form-group-label"></label>
                            <select asp-for="Cor" asp-items="@Html.GetEnumSelectList<ECor>()" class="ui-form-group-select">
                                <option selected>Selecione a cor</option>
                            </select>
                            <span asp-validation-for="Cor" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ui-form-group">
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input asp-for="Foto" type="file" class="custom-file-input" id="inputGroupFile01">
                                    <label asp-for="Foto" class="custom-file-label" for="inputGroupFile01">Carregar Arquivo de imagem</label>
                                </div>
                                <span asp-validation-for="Foto" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-form-group">
                    <label asp-for="Descricao" class="ui-form-group-label"></label>
                    <textarea asp-for="Descricao" class="ui-form-group-input"></textarea>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Adicionar" class="btn btn-success col" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('#modelo').on('keyup', (ev) => {
            $('#modelo').val($('#modelo').val().toUpperCase());
        })
        $('#placa').on('keyup', (ev) => {
            $('#placa').val($('#placa').val().toUpperCase());
        });
    </script>
}





