@model LoKMais.Models.Entities.Veiculo

@{
    ViewData["Title"] = "Alugado";
    Layout = "_Layout";
}

<div class="container my-4">
    <div class="card">
        <div class="card-header text-center bg-info">
            <h5 class="text-white">Alugado</h5>
        </div>
        <div class="card-body text-center">
            <h2 class="text-black-50 font-italic font-weight-bold">Obrigado por utilizar nossos serviços</h2>
            <div>
                <a asp-action="Index" asp-controller="Home" class="btn btn-success col-md">Voltar a pagina inicial</a>
            </div>
        </div>
    </div>
</div>