/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-interface {
    margin: 200px 0 0 0;
}

.btn-nav {
    font-size: 16px;
    padding: 10px 15px 10px 15px;
    color: darkgray;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease;
    border-bottom: 4px solid #9cfb00;
}
    .btn-nav:hover {
        text-decoration: none;
        color: #fff;
    }
.drop-nav{
}

.btn-sair {
    background: #3a3a41;
    padding: 10px;
    color: #fff;
    border-bottom: 4px solid #9cfb00;
    border-radius: 0px;
}
    .btn-sair:hover {
        color: #ff0002;
        border-bottom: 4px solid #ff0002;
    }

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.font-logo {
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    color: #9cfb00;
}

.font-sub-logo {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
}

.zoom-img {
    overflow: hidden;
}

    .zoom-img img {
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        margin: -20px 0 0 70px;
    }

    .zoom-img:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

.dropdown-item:hover {
    background: #3a3a41;
    border-bottom: 2px solid #9cfb00;
}

