
/*label e input dos formularios*/
.ui-form-group{
    position: relative;
    margin:14px 0;
}

.ui-form-group .ui-form-group-input, .ui-form-group .ui-form-group-select{
    width: 100%;
    outline: none;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 6px 4px 6px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
}
.ui-form-group .ui-form-group-label{
    position: absolute;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 0 6px;
    margin-left: 6px;
    pointer-events: none;
    color: #888;
    font-size: 14px;
}
/*******************************************/

