@{ 
    ViewData["Title"] = "Acesso Negado";
    Layout = "Layout";
}
<header>
    <div class="alert alert-danger text-center" role="alert">
        <h4 class="color-danger"><i class="fa fa-exclamation"></i> @ViewData["Title"]</h4>
        <p>Você nao tem acesso para esse recurso.</p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Voltar</a>
    </div>
</header>
