@model LoKMais.Models.ViewModels.AlteracaoSenhaViewModel

@{
    ViewData["Title"] = "AlterarSenha";
}

<div class="card">
    <div class="card-header">
        <h3 class="text-center font-weight-bold">Alterar senha</h3>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form asp-action="AlterarSenha">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Cpf" type="hidden" class="form-control" />
                    <input asp-for="Token" type="hidden" class="form-control" />
                    <div class="row form-group">
                        <label asp-for="NovaSenha" class="control-label"></label>
                        <input asp-for="NovaSenha" class="form-control" />
                        <span asp-validation-for="NovaSenha" class="text-danger"></span>
                    </div>
                    <div class="row form-group">
                        <label asp-for="ConfirmarNovaSenha" class="control-label"></label>
                        <input asp-for="ConfirmarNovaSenha" class="form-control" />
                        <span asp-validation-for="ConfirmarNovaSenha" class="text-danger"></span>
                    </div>
                    <div class="row mt-md-3 form-group">
                        <input type="submit" value="Alterar" class="col btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
