@model LoKMais.Models.ViewModels.RecuperarSenhaViewModel

@{
    ViewData["Title"] = "RecuperarSenha";
}

<div class="container my-4">
    <div class="card card-light-inverse" style="max-width: 28rem; margin: 0 auto">
        <div class="card-header text-center bg-info">
            <h3 class="text-white">Recuperar senha</h3>
        </div>
        <div class="card-body">
            <form asp-controller="Autenticador" asp-action="RecuperarSenha">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="ui-form-group">
                    <label asp-for="Cpf" autocomplete="false" class="ui-form-group-label">CPF</label>
                    <input asp-for="Cpf" class="ui-form-group-input form-control" id="cpf" type="text" placeholder="Informe seu CPF">
                    <span class="text-black-50 font-italic">Digite apenas números, sem pontos ou hífen.</span>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-raised btn-success">Continuar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/meiomask.js"></script>

    <script>
        $(document).ready(function () {
            adicionarMascaras()
        })

        function adicionarMascaras() {
            $('#cpf').setMask('cpf')
    }
    </script>
}


